<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/mainScreen.min.css">
    <link rel="stylesheet" href="../assets/fonts/lack.css">
    <title>Smart home controller</title>
</head>
<body>
    <main>
        <section>
            <div class="container">
                <div class="main_screen">
                    <div class="main_screen-control_bar">
                        <div class="main_screen-logo">
                            <img src="../assets/svg/Group 1.png" alt="logo">
                        </div>
                        <ul class="main_screen-control-list">
                            <li class="main_screen-control-item">
                                <a href="#">
                                    <svg>
                                        <use xlink:href="../assets/svg/sprite.svg#rooms"></use>
                                    </svg>
                                    <div>Rooms</div>
                                </a>
                            </li>
                            <li class="main_screen-control-item">
                                <a href="#">
                                    <svg>
                                        <use xlink:href="../assets/svg/sprite.svg#security"></use>
                                    </svg>
                                    <div>Security</div>
                                </a>
                            </li>
                            <li class="main_screen-control-item">
                                <a href="#">
                                   <svg>
                                       <use xlink:href="../assets/svg/sprite.svg#statistics"></use>
                                   </svg>
                                   <div>Statistics</div>
                                </a>
                            </li>
                            <li class="main_screen-control-item">
                                <a href="#">
                                    <svg>
                                        <use xlink:href="../assets/svg/sprite.svg#members"></use>
                                    </svg>
                                    <div>Members</div>
                                </a>
                            </li>
                            <li class="main_screen-control-item">
                                <a href="#">
                                    <svg>
                                        <use xlink:href="../assets/svg/sprite.svg#billing"></use>
                                    </svg>
                                    <div>Billing</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="main_screen-info_wrap">
                        <div class="main_screen-control_panel">
                            <span>
                                <svg class="main_screen-control_panel-icon">
                                    <use xlink:href="../assets/svg/sprite.svg#settings"></use>
                                </svg>
                            </span>
                            <span>
                                <svg class="main_screen-control_panel-icon">
                                    <use xlink:href="../assets/svg/sprite.svg#notification"></use>
                                </svg>
                            </span>
                            <span>
                                <svg class="main_screen-control_panel-icon-bigger">
                                    <use xlink:href="../assets/svg/sprite.svg#profile"></use>
                                </svg>
                            </span>
                        </div>
                        <div class="main_screen-info_inner">
                            <div class="utility_billing">
                                <h2 class="title utility_billing_title">Utility Billing</h2>
                                <ul class="utility_billing-invoice_list">
                                    <li class="utility_billing-invoice_list-item history">
                                        <div class="utility_billing-title">
                                            Invoice History
                                        </div>
                                    </li>
                                    <li class="utility_billing-invoice_list-item current">
                                        <div class="utility_billing-title">
                                            Current Invoice
                                        </div>
                                        <div class="utility_billing-invoice_screen">
                                            <!-- TODO: здесь должна быть табличка с историей счетов -->
                                        </div>
                                    </li>
                                    <li class="utility_billing-invoice_list-item chart">
                                        <div class="chart_title-wrapper">
                                            <div class="utility_billing-title">
                                                Invoicing Chart
                                            </div>
                                            <div class="utility_billing-invoice_screen">
                                                <!-- TODO: здесть должно быть окошко с кнопкой для оплаты по счёту -->
                                            </div>
                                            <div class="utility_billing-markers">
                                                <ul class="markers_list">
                                                    <li class="markers_list-item">
                                                        <span class="marker_circle"></span>
                                                        <span class="marker_description">Waste</span>
                                                    </li>
                                                    <li class="markers_list-item">
                                                        <span class="marker_circle"></span>
                                                        <span class="marker_description">Water</span>
                                                    </li>
                                                    <li class="markers_list-item">
                                                        <span class="marker_circle"></span>
                                                        <span class="marker_description">Electricity</span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="utility_billing-invoice_screen">
                                                <!-- TODO:  здесь должен быть красивый чарт с расходами-->
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>