<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/mainScreen.min.css">
    <link rel="stylesheet" href="../assets/fonts/lack.css">
    <title>Smart home controller</title>
</head>
<body>
    <main>
        <section>
            <div class="container">
                <div class="main_screen">
                    <div class="main_screen-control_bar">
                        <div class="main_screen-logo">
                            <img src="../assets/svg/Group 1.png" alt="logo">
                        </div>
                        <ul class="main_screen-control-list">
                            <li class="main_screen-control-item">
                                <a href="#">
                                    <svg>
                                        <use xlink:href="../assets/svg/sprite.svg#rooms"></use>
                                    </svg>
                                    <div>Rooms</div>
                                </a>
                            </li>
                            <li class="main_screen-control-item">
                                <a href="#">
                                    <svg>
                                        <use xlink:href="../assets/svg/sprite.svg#security"></use>
                                    </svg>
                                    <div>Security</div>
                                </a>
                            </li>
                            <li class="main_screen-control-item">
                                <a href="#">
                                   <svg>
                                       <use xlink:href="../assets/svg/sprite.svg#statistics"></use>
                                   </svg>
                                   <div>Statistics</div>
                                </a>
                            </li>
                            <li class="main_screen-control-item">
                                <a href="#">
                                    <svg>
                                        <use xlink:href="../assets/svg/sprite.svg#members"></use>
                                    </svg>
                                    <div>Members</div>
                                </a>
                            </li>
                            <li class="main_screen-control-item">
                                <a href="#">
                                    <svg>
                                        <use xlink:href="../assets/svg/sprite.svg#billing"></use>
                                    </svg>
                                    <div>Billing</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="main_screen-info_wrap">
                        <div class="main_screen-control_panel">
                            <span>
                                <svg class="main_screen-control_panel-icon">
                                    <use xlink:href="../assets/svg/sprite.svg#settings"></use>
                                </svg>
                            </span>
                            <span>
                                <svg class="main_screen-control_panel-icon">
                                    <use xlink:href="../assets/svg/sprite.svg#notification"></use>
                                </svg>
                            </span>
                            <span>
                                <svg class="main_screen-control_panel-icon-bigger">
                                    <use xlink:href="../assets/svg/sprite.svg#profile"></use>
                                </svg>
                            </span>
                        </div>
                        <div class="main_screen-info_inner">
                            <div class="rooms">
                                <div class="room">
                                    <h2 class="rooms_title title">Kitchen</h2>
                                    <ul class="rooms_status-list">
                                        <li class="rooms_status-list-item">
                                            <div class="rooms_status-parameter">
                                                Room's<br> Temperature
                                            </div>
                                            <div class="rooms_status-value">
                                                <span id="celsius" class="celsius">
                                                    +23.5<span>&deg;C</span>
                                                </span><br>
                                                <span id="fahrenheit" class="fahrenheit">
                                                    74.3<span>&deg;F</span>    
                                                </span>
                                            </div>
                                            <div class="rooms_parameter-scale temperature">
                                                <svg width="22" height="40">
                                                    <use xlink:href="../assets/svg/sprite.svg#temperature"></use>
                                                </svg>
                                            </div>
                                        </li>
                                        <li class="rooms_status-list-item">
                                            <div class="rooms_status-parameter">
                                                Room's<br> Humidity
                                            </div>
                                            <div class="rooms_status-value">
                                                40%
                                            </div>
                                            <div class="rooms_parameter-scale humidity">
                                                <svg width="27" height="36">
                                                    <use xlink:href="../assets/svg/sprite.svg#humidity"></use>
                                                </svg>
                                            </div>
                                        </li>
                                        <li class="rooms_status-list-item">
                                            <div class="rooms_status-parameter">
                                                Room's<br> Lightning
                                            </div>
                                            <div class="rooms_status-value">
                                                86%
                                            </div>
                                            <div class="rooms_parameter-scale lightning">
                                                <svg width="33" height="33">
                                                    <use xlink:href="../assets/svg/sprite.svg#lightning"></use>
                                                </svg>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="rooms_devices">
                                        <div class="rooms_devices-title">Devices</div>
                                        <ul class="rooms_devices-list">
                                            <li class="rooms_devices-list-item red">
                                                <svg width="24" height="29">
                                                    <use xlink:href="../assets/svg/sprite.svg#buttonFridge"></use>
                                                </svg>
                                                <div>Fridge</div>
                                            </li>
                                            <li class="rooms_devices-list-item green">
                                                <svg width="27" height="28">
                                                    <use xlink:href="../assets/svg/sprite.svg#buttonKettle"></use>
                                                </svg>
                                                <div>Kettle</div>
                                            </li>
                                            <li class="rooms_devices-list-item blue">
                                                <svg width="29" height="30">
                                                    <use xlink:href="../assets/svg/sprite.svg#buttonStove"></use>
                                                </svg>
                                                <div>Stove</div>
                                            </li>
                                            <li class="rooms_devices-list-item red">
                                                <svg width="32" height="40">
                                                    <use xlink:href="../assets/svg/sprite.svg#buttonDishwasher"></use>                                                    
                                                </svg>
                                                <div>Dishwasher</div>
                                            </li>
                                            <li class="rooms_devices-list-item green">
                                                <svg width="45" height="45">
                                                    <use xlink:href="../assets/svg/sprite.svg#buttonMulticooker"></use>
                                                </svg>
                                                <div>Multicooker</div>
                                            </li>
                                            <li class="rooms_devices-list-item blue">
                                                <svg width="31" height="28">
                                                    <use xlink:href="../assets/svg/sprite.svg#buttonTV"></use>
                                                </svg>
                                                <div>TV</div>
                                            </li>
                                            <li class="rooms_devices-list-item red">
                                                <svg width="43" height="30">
                                                    <use xlink:href="../assets/svg/sprite.svg#buttonMicrowave"></use>
                                                </svg>
                                                <div>Microwave</div>
                                            </li>
                                            <li class="rooms_devices-list-item green">
                                                <svg width="36" height="48">
                                                    <use xlink:href="../assets/svg/sprite.svg#buttonGrill"></use>
                                                </svg>
                                                <div>Indoor Grill</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="rooms_selectors slider">
                                    <ul class="rooms_selectors_list">
                                        <li class="rooms_selectors_list-item">
                                            <a href="#">
                                                <svg width="47" height="37">
                                                    <use xlink:href="../assets/svg/sprite.svg#bedroom"></use>
                                                </svg>
                                                <div>Bedroom</div>  
                                            </a>
                                        </li>
                                        <li class="rooms_selectors_list-item">
                                            <a href="#">
                                                <svg width="48" height="41">
                                                    <use xlink:href="../assets/svg/sprite.svg#kitchen"></use>
                                                </svg>
                                                <div>Kitchen</div>
                                            </a>
                                        </li>
                                        <li class="rooms_selectors_list-item">
                                            <a href="#">
                                                <svg width="48" height="26">
                                                    <use xlink:href="../assets/svg/sprite.svg#livingRoom"></use>
                                                </svg>
                                                <div>Living Room</div>
                                            </a>
                                        </li>
                                        <li class="rooms_selectors_list-item">
                                            <a href="#">
                                                <svg width="33" height="37">
                                                    <use xlink:href="../assets/svg/sprite.svg#bathroom"></use>
                                                </svg>
                                                <div>Bathroom</div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>